<mat-card class="wrapper mat-light-theme">
  <mat-card>
    <mat-list>
      <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
        <mat-icon matListIcon>person</mat-icon>
        <p matLine>Dylan Drendel</p>
      </mat-list-item>
      <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
        <mat-icon matListIcon>email</mat-icon>
        <p matLine>dylan.drendel@gmail.com</p>
      </mat-list-item>
      <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
        <mat-icon matListIcon>phone</mat-icon>
        <p matLine>720-934-9305</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</mat-card>
