<div class="wrapper" fxLayout="column" fxLayoutGap="20px">
  <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutGap="100px" fxLayoutGap.lt-sm="20px">
    <img src="../../../assets/wildflowers.jpg" fxFlexFill fxFlex="45" fxFlex.lt-md="30">
    <div fxFlex="65">
      <p>
        Site designed and developed by Dylan Drendel, using Angular, Angular Material, and Angular Flex Layout. Go to my <a routerLink="/contact">contact page</a> if you'd like to reach out
        and talk about my creative services. I look forward to hearing from you!
      </p>
      <p>
        Some of my interests in no specific order: rock climbing, sustainability/self-sufficiency, traveling cheaply
        through work exchange, alternative construction techniques, meditation, whole foods plant based diet and
        health, cooking, making music, photography, videography, graphic design, writing, permaculture design, mental
        health, fire science and forest restoration/management, trail work, coding, backpacking, hiking, horticulture.
      </p>
    </div>
  </mat-card>
  <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutGap="100px" fxLayoutGap.lt-sm="20px">
    <div fxFlex="50">
      <p>Maqemo is a sample website to showcase a modern, responsive, SPA design. </p>
    </div>
    <img src="../../../assets/ocean_bench.jpg" fxFlexFill fxFlex="50">
  </mat-card>
</div>
