<mat-card>
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-icon>accessibility_new</mat-icon>
      <h2>Welcome to Maqemo!</h2>
      <h4>We're happy to have you. Maqemo is a site to explore your creativity.</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <img src="../../../assets/wildflowers.jpg" width="350" height="350">
      <img src="../../../assets/beach_stairs.jpg" width="350" height="350">
      <img src="../../../assets/wilderness_rain.jpg" alt="flowers" height="350" width="350">
    </div>
  </mat-card-content>
</mat-card>