<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-between center" fxLayoutGap="10px">
  <mat-card fxFlex="32" fxFlex.lt-md="100">
    <img src="../../../assets/wildflowers.jpg" height="100%" width="100%">
  </mat-card>
  <mat-card fxFlex="32" fxFlex.lt-md="100">
    <img src="../../../assets/beach_stairs.jpg" height="100%" width="100%">
  </mat-card>
  <mat-card fxFlex="32" fxFlex.lt-md="100">
    <img src="../../../assets/wilderness_rain.jpg" height="100%" width="100%">
  </mat-card>
</div>
