.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    &.padding-top {
      padding-top: 5px;
    }
  }

.page-shell {
  padding: 25px;
  margin-top: 64px;
  //height: calc(100vh - 105px);
  //overflow: auto;
  &.shorter {
    margin-top: 100px;
  }
}
